.filterAds  li{
    list-style-type: none;
    padding: 2%;
}
.adsTextarea{
    width: 100%;
    height: 100%;
    resize: none;
}
.image {
    height: 100%;
    width: 100%;
}
.date {
    float: right;
    font-size: 0.8em;
}

.footer {
    text-align: center;
    padding: 0.2em;
    color: #c0c0c0;
}