<header class="navbar navbar-default">
    <h1 class="header">Ads - {{ctrl.pageTitle='My Ads'}}<span class="logout"><a ng-click="ctrl.logout()">Logout</a></span>
    </h1>
</header>
<div class="jumbotron row" ng-cloak>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-3">
                <left-private-sidebar></left-private-sidebar>
            </div>
            <div class="mainContent col-md-9">
                <public-ads></public-ads>
            </div>
        </div>
    </div>
</div>