<div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Navigation</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{'active' : ctrl.pageTitle=='Home'}">
                    <a href="#/" ng-click="ctrl.setHomePage()">
                        Home
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Please login</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav nav-pills nav-stacked">
                <li ng-class="{'active' : ctrl.pageTitle=='Login'}"><a href="#/login">Login</a></li>
                <li ng-class="{'active' : ctrl.pageTitle=='Register'}"><a href="#/register">Register</a></li>
            </ul>
        </div>
    </div>
</div>