<div class="jumbotron row" ng-cloak>
    <div class="mainContent col-md-8">
        <!--Main Content-->
        <div ng-repeat="ad in data.ads" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ad.title}}
                    <span class="date">{{ad.date | date: 'd-MMM-yyyy'}}</span>
                </h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-4" id="imageContainer"><img class="image" src="../img/no_image.gif" ng-src="{{ad.imageDataUrl}}"></div>
                <div class="col-md-8" id="dateContainer">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ad.text}}
                        </div>
                    </div>
                    <div><strong>Name:</strong> {{ad.ownerName}}</div>
                    <div><strong>E-mail:</strong> {{ad.ownerEmail}}</div>
                    <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
                </div>
            </div>
        </div>

        {{data.numPages}}

        <ul class="pagination">
            <li ng-repeat="page in [] | range: 5"><a href="#">{{$index}}</a></li>
        </ul>


        <!--<div data-pagination="" data-num-pages="numPages()"-->
             <!--data-current-page="currentPage" data-max-size="maxSize"-->
             <!--data-boundary-links="true"></div>-->

        <!--<ul class="pagination">-->
            <!--<li class="disabled"><a href="#">«</a></li>-->
            <!--<li class="active"><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">4</a></li>-->
            <!--<li><a href="#">5</a></li>-->
            <!--<li><a href="#">»</a></li>-->
        <!--</ul>-->
    </div>

    <div class="filters col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body">
                <ul class="filterAds">
                    <li>All</li>
                    <li ng-repeat="cat in categories" >
                        {{cat.name}} {{ cat.id}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Towns</h3>
            </div>
            <div class="panel-body">
                <ul class="filterAds">
                    <li>All</li>
                    <li ng-repeat="town in towns">
                        {{town.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>